<div>
    
    <div class="column cell">
        <div class="row blackText">
                4 Kondygnajce
        </div>
        <div class="row">
                <app-height-button  buttonLabel="N"></app-height-button>
        </div>
    </div>

    <div class="column cell">
        <div class="row blackText">
                4-9 Kondygnacji
        </div>
        <div class="row">
            <app-height-button  buttonLabel="SW"></app-height-button>
        </div>
    </div>

    <div class="column cell">
        <div class="row blackText">
                9-18 Kondygnacji
        </div>
        <div class="row">
                <app-height-button  buttonLabel="W"></app-height-button>
        </div>  
    </div>

    <div class="column cell">
        <div class="row blackText">
                9-18 Kondygnacji
        </div>
        <div class="row">
                <app-height-button  buttonLabel="WW"></app-height-button>
        </div>  
    </div>

</div>