.grid-container {
    display: grid;
    grid-template-columns:  auto  auto ;
  }

.cell{  
    color: white;
    height: 50px;
    // width: 100px;
    padding: 5px;
    margin:10px;
    // background-color: grey;
}

  
.height400{
    height: 400px;
    width: 200px;
}

mat-grid-tile {
    background: lightgreen;
}