



<div class="grid-container">
        <div class="grid-item">do 4 Kondygnacji</div>
        <div class="grid-item"><app-height-button  buttonLabel="N"
                (click)="switchButtons('N')"
                [buttonOn]="getFromSwitcherValueByKey('N')"></app-height-button></div>

        <div class="grid-item">4-9 Kondygnacji</div>
        <div class="grid-item"><app-height-button  buttonLabel="SW"
                (click)="switchButtons('SW')"
                [buttonOn]="getFromSwitcherValueByKey('SW')"></app-height-button></div>

        <div class="grid-item">9-18 Kondygnacji / 25-55m</div>
        <div class="grid-item"><app-height-button  buttonLabel="W"
                (click)="switchButtons('W')"
                [buttonOn]="getFromSwitcherValueByKey('W')"></app-height-button></div>

        <div class="grid-item">powyzej 55m</div>
        <div class="grid-item"><app-height-button  buttonLabel="WW"
                (click)="switchButtons('WW')"
                [buttonOn]="getFromSwitcherValueByKey('WW')"></app-height-button></div>
</div>
      