<div>
    
    <div class="cell">
        <div class="row blackText">
                4 Kondygnajce
        </div>
        <div class="row">
                <app-height-button  buttonLabel="N"
                (click)="switchButtons('N')"
                [buttonOn]="getFromSwitcherValueByKey('N')"></app-height-button>
        </div>
    </div>

    <div class="cell">
        <div class="row blackText">
                4-9 Kondygnacji
        </div>
        <div class="row">
            <app-height-button  buttonLabel="SW"
                (click)="switchButtons('SW')"
                [buttonOn]="getFromSwitcherValueByKey('SW')"></app-height-button>
        </div>
    </div>

    <div class="cell">
        <div class="row blackText">
                9-18 Kondygnacji
        </div>
        <div class="row">
                <app-height-button  buttonLabel="W"
                (click)="switchButtons('W')"
                [buttonOn]="getFromSwitcherValueByKey('W')"></app-height-button>
        </div>  
    </div>

    <div class="cell">
        <div class="row blackText">
                9-18 Kondygnacji
        </div>
        <div class="row">
                <app-height-button  buttonLabel="WW"
                (click)="switchButtons('WW')"
                [buttonOn]="getFromSwitcherValueByKey('WW')"></app-height-button>
        </div>  
    </div>

</div>



      