<p>schema2 works!</p>
<mat-slider min="1" max="100" step="1" value="1">hhhhh</mat-slider>



<div>
    <mat-grid-list cols="2" rowHeight="50px" gutterSize="32px">
        <mat-grid-tile>
            <div class="css-grid">
                <div class="css-grid-tile top-left">1
                </div>
                <div class="css-grid-tile top-right">2
                </div>
                <div class="css-grid-tile bottom">3
                </div>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <div class="css-grid">
                <div class="css-grid-tile top-left">
                </div>
                <div class="css-grid-tile top-right">
                </div>
                <div class="css-grid-tile bottom">
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="css-grid">
                    <div class="css-grid-tile top-left">
                    </div>
                    <div class="css-grid-tile top-right">
                    </div>
                    <div class="css-grid-tile bottom">
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                    <div class="css-grid">
                        <div class="css-grid-tile top-left">
                        </div>
                        <div class="css-grid-tile top-right">
                        </div>
                        <div class="css-grid-tile bottom">
                        </div>
                    </div>
                </mat-grid-tile>
        
    </mat-grid-list>
</div>
