
.margin {
    margin:0px;
}

.widthauto{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    min-width: 200px;
  }

.cell{
    color: white;
    // height: 50px;
    // width: 100px;
    padding: 5px;
    margin:10px;
    background-color: grey;
}

.rightcell{
    color: white;
    // height: 50px;
    // width: 100px;
    padding: 5px;
    margin:10px;
    background-color: yellowgreen;
}



mat-grid-tile {
    background: lightcoral;
}