


<div class="width600">
    
        <mat-grid-list cols = "5" rowHeight = "50px"  >
                <mat-grid-tile [colspan] = "1"[rowspan] = "1">        
                    <app-zl-button buttonLabel="ZL I"
                    (click)="switchButtons('ZLI')"
                    [buttonOn]="getFromSwitcherValueByKey('ZLI')"> </app-zl-button></mat-grid-tile>
                <mat-grid-tile [colspan] = "1"[rowspan] = "1">  <app-zl-button buttonLabel="ZL II"
                    (click)="switchButtons('ZLII')"
                    [buttonOn]="getFromSwitcherValueByKey('ZLII')"></app-zl-button></mat-grid-tile>
                <mat-grid-tile [colspan] = "1"[rowspan] = "1"><app-zl-button buttonLabel="ZL III"   
                    (click)="switchButtons('ZLIII')"
                    [buttonOn]="getFromSwitcherValueByKey('ZLIII')"></app-zl-button></mat-grid-tile>
                <mat-grid-tile [colspan] = "1"[rowspan] = "1"><app-zl-button buttonLabel="ZL IV"   
                    (click)="switchButtons('ZLIV')"
                    [buttonOn]="getFromSwitcherValueByKey('ZLIV')"></app-zl-button></mat-grid-tile>
                <mat-grid-tile [colspan] = "1"[rowspan] = "1">   <app-zl-button buttonLabel="ZL V"   
                    (click)="switchButtons('ZLV')"
                    [buttonOn]="getFromSwitcherValueByKey('ZLV')"></app-zl-button></mat-grid-tile>    
        </mat-grid-list>
</div>


