
<div>

    <div class="row margin">
        <app-zl-button buttonLabel="ZL I"
        buttonOn = "true"></app-zl-button>
    </div>
    <div class="row margin">
            <app-zl-button buttonLabel="ZL II"></app-zl-button>
    </div>
    <div class="row margin">
            <app-zl-button buttonLabel="ZL III"></app-zl-button>
    </div>
    <div class="row margin">
            <app-zl-button buttonLabel="ZL IV"></app-zl-button>
    </div>
    <div class="row margin">
            <app-zl-button buttonLabel="ZL V"></app-zl-button>
    </div>

</div>

