



.grid-container {
    display: grid;
    grid-template-columns:  auto  12% 12%  12% 12% 12% 12% ;
}

.selected {
    background-color: gray;
    color: yellow;
    padding: 6px;
    // width: 100px;
    margin: 3px;
  }

  .onselected {
    color: black;
    padding: 6px;
    // width: 100px;
    margin: 3px;
    
  }