
<p>KLASA ODPORNOŚCI OGNIOWEJ</p>


  <div *ngIf="showTextForA">
        <p>A</p>
        Głowna konstrukcja nośna : R 240
        Konstrukcja dachu: R 30
        Strop: REI 120 
        Ściana zewnętrzna : EI 120
        Ściana wewnętrzna : EI 60
        Przekrycie dachu : RE 30
        
  </div>

  <div *ngIf="showTextForB">
        <p>B</p>
        bbbbbbbbbbbbbbbbbbbbbbbbbbb
  </div>

  <div *ngIf="showTextForC">
        c
        cccccccccccccccc
  </div>

  <div *ngIf="showTextForD">
        <p>D</p>
        dddddddddddddddd
</div>

<div class="grid-container">

            <div class="grid-item">Klasa odporności pożarowej budynku</div>
            <div class="grid-item">Główna konstrukcja nośna</div>
            <div class="grid-item">Konstrukcja dachu</div>
            <div class="grid-item">Strop</div>
            <div class="grid-item">Ściana zewnetrzna</div>
            <div class="grid-item">Ściana wewnętrzna</div>
            <div class="grid-item">Przekrycie dachu</div>

            <div class="grid-item">1</div>
            <div class="grid-item">2</div>
            <div class="grid-item">3</div>
            <div class="grid-item">4</div>
            <div class="grid-item">5</div>
            <div class="grid-item">6</div>
            <div class="grid-item">7</div>

            <div class="grid-item">"A"</div>
            <div class="grid-item">R 240</div>
            <div class="grid-item">R 30</div>
            <div class="grid-item">REI 120</div>
            <div class="grid-item">EI 120</div>
            <div class="grid-item">EI 60</div>
            <div class="grid-item">RE 30</div>

            <div class="grid-item">"B"</div>
            <div class="grid-item">R 120</div>
            <div class="grid-item">R 30</div>
            <div class="grid-item">REI 60</div>
            <div class="grid-item">EI 60</div>
            <div class="grid-item">EI 30</div>
            <div class="grid-item">RE 30</div>

            <div class="grid-item">"C"</div>
            <div class="grid-item">R 60</div>
            <div class="grid-item">R 15</div>
            <div class="grid-item">REI 60</div>
            <div class="grid-item">EI 30</div>
            <div class="grid-item">EI 15</div>
            <div class="grid-item">RE 15</div>

            <div class="grid-item">"D"</div>
            <div class="grid-item">R 30</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">REI 30</div>
            <div class="grid-item">EI 30</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">(-)</div>

            <div class="grid-item">"E"</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">(-)</div>
            <div class="grid-item">(-)</div>

</div>