
<p>KLASA ODPORNOŚCI OGNIOWEJ</p>


  <!-- <div *ngIf="showTextForA">
        <p>A</p>
        Głowna konstrukcja nośna : R 240
        Konstrukcja dachu: R 30
        Strop: REI 120 
        Ściana zewnętrzna : EI 120
        Ściana wewnętrzna : EI 60
        Przekrycie dachu : RE 30
        
  </div>

  <div *ngIf="showTextForB">
        <p>B</p>
        bbbbbbbbbbbbbbbbbbbbbbbbbbb
  </div>

  <div *ngIf="showTextForC">
        c
        cccccccccccccccc
  </div>

  <div *ngIf="showTextForD">
        <p>D</p>
        dddddddddddddddd
</div> -->

<div class="grid-container">

            <div class="grid-item">Klasa odporności pożarowej budynku</div>
            <div class="grid-item">Główna konstrukcja nośna</div>
            <div class="grid-item">Konstrukcja dachu</div>
            <div class="grid-item">Strop</div>
            <div class="grid-item">Ściana zewnetrzna</div>
            <div class="grid-item">Ściana wewnętrzna</div>
            <div class="grid-item ">Przekrycie dachu</div>

            <div [className]="showTextForA ? 'selected' : 'onselected'">"A"</div>
            <div [className]="showTextForA ? 'selected' : 'onselected'">R 240</div>
            <div [className]="showTextForA ? 'selected' : 'onselected'">R 30</div>
            <div [className]="showTextForA ? 'selected' : 'onselected'">REI 120</div>
            <div [className]="showTextForA ? 'selected' : 'onselected'">EI 120</div>
            <div [className]="showTextForA ? 'selected' : 'onselected'">EI 60</div>
            <div [className]="showTextForA ? 'selected' : 'onselected'" >RE 30</div>

            <div [className]="showTextForB ? 'selected' : 'onselected'">"B"</div>
            <div [className]="showTextForB ? 'selected' : 'onselected'">R 120</div>
            <div [className]="showTextForB ? 'selected' : 'onselected'">R 30</div>
            <div [className]="showTextForB ? 'selected' : 'onselected'">REI 60</div>
            <div [className]="showTextForB ? 'selected' : 'onselected'">EI 60</div>
            <div [className]="showTextForB ? 'selected' : 'onselected'">EI 30</div>
            <div [className]="showTextForB ? 'selected' : 'onselected'">RE 30</div>

            <div [className]="showTextForC ? 'selected' : 'onselected'">"C"</div>
            <div [className]="showTextForC ? 'selected' : 'onselected'">R 60</div>
            <div [className]="showTextForC ? 'selected' : 'onselected'">R 15</div>
            <div [className]="showTextForC ? 'selected' : 'onselected'">REI 60</div>
            <div [className]="showTextForC ? 'selected' : 'onselected'">EI 30</div>
            <div [className]="showTextForC ? 'selected' : 'onselected'">EI 15</div>
            <div [className]="showTextForC ? 'selected' : 'onselected'">RE 15</div>

            <div [className]="showTextForD ? 'selected' : 'onselected'">"D"</div>
            <div [className]="showTextForD ? 'selected' : 'onselected'">R 30</div>
            <div [className]="showTextForD ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForD ? 'selected' : 'onselected'">REI 30</div>
            <div [className]="showTextForD ? 'selected' : 'onselected'">EI 30</div>
            <div [className]="showTextForD ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForD ? 'selected' : 'onselected'">(-)</div>

            <div [className]="showTextForE ? 'selected' : 'onselected'">"E"</div>
            <div [className]="showTextForE ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForE ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForE ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForE ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForE ? 'selected' : 'onselected'">(-)</div>
            <div [className]="showTextForE ? 'selected' : 'onselected'">(-)</div>

</div>