<p>Klasa odporności pożarowej budynków "magazynowych i innych"</p>

<div class="grid-container" >
        <div class="grid-item"></div>
        <div class="grid-item"><p>
                <!-- buttony poziome w head tabeli -->
                <mat-button-toggle-group  #hb="matButtonToggleGroup"  name="fontStyle" aria-label="Font Style"
                                     
                        [value]="selectedHeight" 
                        (change)="onHeightChange(hb.value)">
                    <mat-button-toggle value="Kond1" >1 Kondy.</mat-button-toggle>
                    <mat-button-toggle value="N" >N</mat-button-toggle>
                    <mat-button-toggle value="SW">SW</mat-button-toggle>
                    <mat-button-toggle value="W">W</mat-button-toggle>
                    <mat-button-toggle value="WW">WW</mat-button-toggle>
                </mat-button-toggle-group>
            </p>
        </div>
        <div class="grid-item"><p>
                <mat-button-toggle-group  #vb="matButtonToggleGroup"  name="fontStyle" aria-label="Font Style" 
                        vertical 
                        [value]="selectedQtype" 
                        (change)="onQtypeChange(vb.value)">
                    <mat-button-toggle value="Q499">Q<=500</mat-button-toggle>
                    <mat-button-toggle value="Q501">500<Q<=1000</mat-button-toggle>
                    <mat-button-toggle value="Q1001">1000<Q<=2000</mat-button-toggle>
                    <mat-button-toggle value="Q2001">2000<Q<=4000</mat-button-toggle>
                    <mat-button-toggle value="Q4001">4000<Q</mat-button-toggle>
                </mat-button-toggle-group>
            </p>
        </div>
        <div class="grid-table">

            <div  [className]="getValueFromPMTable('Kond1_Q499') ? 'rightcell' : 'cell'">E</div>
            <div  [className]="getValueFromPMTable('N_Q499') ? 'rightcell' : 'cell'">D</div>
            <div  [className]="getValueFromPMTable('SW_Q499') ? 'rightcell' : 'cell'">C</div>
            <div  [className]="getValueFromPMTable('W_Q499') ? 'rightcell' : 'cell'">B</div>
            <div  [className]="getValueFromPMTable('WW_Q499') ? 'rightcell' : 'cell'">B</div>

            <div  [className]="getValueFromPMTable('Kond1_Q501') ? 'rightcell' : 'cell'">D</div>
            <div  [className]="getValueFromPMTable('N_Q501') ? 'rightcell' : 'cell'">D</div>
            <div  [className]="getValueFromPMTable('SW_Q501') ? 'rightcell' : 'cell'">C</div>
            <div  [className]="getValueFromPMTable('W_Q501') ? 'rightcell' : 'cell'">B</div>
            <div  [className]="getValueFromPMTable('WW_Q501') ? 'rightcell' : 'cell'">B</div>

            <div  [className]="getValueFromPMTable('Kond1_Q1001') ? 'rightcell' : 'cell'">C</div>
            <div  [className]="getValueFromPMTable('N_Q1001') ? 'rightcell' : 'cell'">C</div>
            <div  [className]="getValueFromPMTable('SW_Q1001') ? 'rightcell' : 'cell'">C</div>
            <div  [className]="getValueFromPMTable('W_Q1001') ? 'rightcell' : 'cell'">B</div>
            <div  [className]="getValueFromPMTable('WW_Q1001') ? 'rightcell' : 'cell'">B</div>

            <div  [className]="getValueFromPMTable('Kond1_Q2001') ? 'rightcell' : 'cell'">B</div>
            <div  [className]="getValueFromPMTable('N_Q2001') ? 'rightcell' : 'cell'">B</div>
            <div  [className]="getValueFromPMTable('SW_Q2001') ? 'rightcell' : 'cell'">B</div>
            <div  [className]="getValueFromPMTable('W_Q2001') ? 'rightcell' : 'cell'">*</div>
            <div  [className]="getValueFromPMTable('WW_Q2001') ? 'rightcell' : 'cell'">*</div>

            <div  [className]="getValueFromPMTable('Kond1_Q4001') ? 'rightcell' : 'cell'">A</div>
            <div  [className]="getValueFromPMTable('N_Q4001') ? 'rightcell' : 'cell'">A</div>
            <div  [className]="getValueFromPMTable('SW_Q4001') ? 'rightcell' : 'cell'">A</div>
            <div  [className]="getValueFromPMTable('W_Q4001') ? 'rightcell' : 'cell'">*</div>
            <div  [className]="getValueFromPMTable('WW_Q4001') ? 'rightcell' : 'cell'">*</div>

        </div>
</div>


  