.grid-container {
    display: grid;
    grid-template-columns: 25% auto ;
}

.grid-table{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.cell{
  color: white;
  // height: 50px;
  // width: 100px;
  padding: 5px;
  margin:10px;
  background-color: grey;
}

.rightcell{
  color: white;
  // height: 50px;
  // width: 100px;
  padding: 5px;
  margin:10px;
  background-color: yellowgreen;
}

mat-button-toggle-group {
  width: 100%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
  margin: 12px;
}
