

<div >

    <div class="row margin" >
        <div class="cell">D,C,B</div>
        <div class="cell">B</div>
        <div class="cell">B</div>
        <div class="cell">A</div>
    </div>
    <div class="row margin" >
        <div class="cell">D,C,B</div>
        <div class="cell">B</div>
        <div class="cell">B</div>
        <div class="cell">A</div>
    </div>
    <div class="row margin">
        <div class="cell">D,D,C</div>
        <div class="cell">B</div>
        <div class="cell">B</div>
        <div class="cell">A</div>
    </div>

    <div class="row margin">
        <div class="cell">D</div>
        <div class="cell">C</div>
        <div class="cell">B</div>
        <div class="cell">A</div>
    </div>

    <div class="row margin">
        <div class="cell">C</div>
        <div class="cell">B</div>
        <div class="cell">B</div>
        <div class="cell">A</div>
    </div>

</div>