
.table_row {
    color: yellow;
    border: 5px solid red; 
    margin:10px;
}

.margin {
    margin:0px;
}

.cell{
    color: white;
    height: 50px;
    width: 100px;
    padding: 5px;
    margin:10px;
    background-color: grey;
}

.zlBotton{
    color: white;
    height: 30px;
    width: 100px;
    padding: 5px;
    margin:10px;
    background-color: blue;
}