
 .grid-container {
    display: grid;
    grid-template-columns: 25% auto ;
    height: 250px;
  }

  mat-button-toggle-group {
    margin-left: 12px;
  }

  .example-selected-value {
    margin: 15px 0;
  }