

    <div>
        <div >
            <div class="row margin field width200">
        
            </div>
            <div class="row margin field">
                <app-hor-button-group
                (messageEventZL)="receiveZL($event)"></app-hor-button-group>
            </div>
        </div>
        <div >
            <div class="row margin field width200">
                <app-ver-button-gropu
                (messageEventHeight)="receiveHeight($event)"></app-ver-button-gropu>
            </div>
            <div class="row margin field">
                <app-table></app-table>
            </div>
        </div>
    </div>


  
