
<button mat-mini-fab color (click)="showBudynkiZL()">ZL</button>
<button mat-mini-fab color (click)="showBudynkiPMiIN()">PM i IN</button>

<div *ngIf="isshowBudynkiZL">
        <div class="grid-item"><app-zl  (messageEventBuildingType)="receiveZL($event)">budynki zagrozenia ludzi</app-zl></div>
</div>

<div *ngIf="isshowBudynkiPM">
        <div class="grid-item"><app-pm >pomieszczenia magazynowe</app-pm></div>
</div>

<div class="grid-container">
    <div class="grid-item"></div>
    <app-textrule [passInfo]="getInfo(buildingType)"></app-textrule >
</div>













