

<div class="grid-container">
    <div class="grid-item"><app-zl-button buttonLabel="ZL I"
        (click)="switchButtons('ZLI')"
        [buttonOn]="getFromSwitcherValueByKey('ZLI')"> </app-zl-button></div>
    <div class="grid-item"><app-zl-button buttonLabel="ZL II"
        (click)="switchButtons('ZLII')"
        [buttonOn]="getFromSwitcherValueByKey('ZLII')"></app-zl-button></div>
    <div class="grid-item"><app-zl-button buttonLabel="ZL III"   
        (click)="switchButtons('ZLIII')"
        [buttonOn]="getFromSwitcherValueByKey('ZLIII')"></app-zl-button></div>
    <div class="grid-item"><app-zl-button buttonLabel="ZL IV"   
        (click)="switchButtons('ZLIV')"
        [buttonOn]="getFromSwitcherValueByKey('ZLIV')"><app-zl-button buttonLabel="ZL V"   
                    (click)="switchButtons('ZLV')"
                    [buttonOn]="getFromSwitcherValueByKey('ZLV')"></app-zl-button></app-zl-button></div>
    <div class="grid-item"><app-zl-button buttonLabel="ZL V"   
        (click)="switchButtons('ZLV')"
        [buttonOn]="getFromSwitcherValueByKey('ZLV')"></app-zl-button></div>
</div>
